* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: lightseagreen;
    box-shadow: 0px 1px 10px 0px #22262b;
    width: 100%;
}

nav ul {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

nav li {
    list-style-type: none;
    color: white;
    text-align: center;
    margin: 0 20vh;
}

.mainlogo {
    font-family: 'Righteous', cursive;
}

.mainlogo a {
    color: aliceblue;
    font-size: xx-large;
}

.mainlogo a:hover {
    color: lightgray;
}

/* main body starts here  */
/* clockStyle */
.bodyMainClock {
    display: flex;
    justify-content: center;
    margin: 5rem;
}

.boxClock {
    background-color: lightgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 50%;
    height: 30vh;
    border-radius: 7px;
    font-size: 3.2rem;
    color: rgb(87, 86, 86);
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 1px 20px -9px rgb(0, 0, 0);
}

.time {
    font-size: 4.3rem;
    font-weight: 600;
}

.time,
.date {
    margin:  0 auto;
    width: 90%;
}
/* clock style end  */


/* counterStyle */
.bodyMainCounter {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 30px;
}

.boxDisplayCounter {
    margin: 20px;
    border-radius: 15px;
    background-color: aliceblue;
    height: 30vh;
    width: 20%;
    overflow-y: hidden;
    
}

.boxDisplayCounter p {
    text-align: center;
    margin: 9vh 0;
    font-size: 100px;
    font-family: 'Courier New', Courier, monospace;
    
}

.counterButton button{
    background-color: whitesmoke;
    border: 1px solid lightseagreen;
    border-radius: 10px;
    padding: 20px;
    margin: auto 10px;
}

.counterButton button:hover {
    background-color: lightseagreen;
    color: white;
    transition: 0.2s;
    box-shadow: 0px 1px 20px 0px lightseagreen;
}

#reducButton {
    border: 1px solid rgb(201, 79, 79);
}

#reducButton:hover {
    background-color: rgb(201, 79, 79);
    box-shadow: 0px 1px 20px 0px rgb(201, 79, 79);
}

.setVal {
    display: flex;
    flex-direction: row;
}

.setVal input {
    margin: 20px 0;
    padding: 10px;
    width: 100%;
    border: 1px solid lightseagreen;
    border-radius: 8px;
    background-color: whitesmoke;
}

.setVal button {
    padding: 10px;
}

/* counter style ends  */

/* calculator style starts */

.bodyMainCalc {
    display: flex;
    justify-content: center;
}

.calculatorBox {
    background-color: aliceblue;
    height: 29rem;
    width: 18rem;
    margin-top: 100px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    overflow: hidden;
    box-shadow: 0px 1px 15px -1px rgb(45, 46, 46);
}

.calculatorBox button {
    padding: 20px;
    border-radius: 20px;
    font-size: larger;
    border: none;
}

.calculatorBox button:hover {
    cursor: pointer;
    transition: 0.2s;
}

.displayCalc {
    grid-column: 1/5;
    grid-row: 1;
}

.displayCalc input {
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: start;
    padding: 25px 1px;
    font-size: 21px;
    overflow: hidden;
    border:none;
    box-shadow: 0px 1px 5px -1px rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
}

.zero {
    grid-column: 1;
    grid-row: 6;
} 

.numbers button{
    box-shadow: 0px 1px 5px -1px lightseagreen;
    background-color: whitesmoke;
}

.numbers button:hover {
    box-shadow: 0px 1px 10px -1px lightseagreen;
    background-color: lightseagreen;
}
.equals button {
    background-color: orange;
    border: 1px solid orange;
}

.equals button:hover {
    box-shadow: 0px 1px 10px -1px orange;    
}

.clear button {
    background-color: lightgrey;
    color: black;
}

.clear button:hover {
    background-color: black;
    color: white;
}

.plus button,
.minus button,
.div button,
.mult button,
.changeSign button,
.percent button,
.point button{
    box-shadow: 0px 1px 5px -1px rgb(0, 0, 0);
}

.plus button:hover,
.minus button:hover,
.div button:hover,
.mult button:hover,
.changeSign button:hover,
.percent button:hover,
.point button:hover {
    box-shadow: 0px 1px 10px -1px dodgerblue;
    background-color: dodgerblue;
    color: white;
}

/* main body style  */

body {
    background-color: rgb(252, 244, 233);
}

.bodyMain p {
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    color: gray;
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

a {
    text-decoration: none;
    color: gray;
    font-size: 1.2rem
}

a:hover {
    color: darkgray;
}

.tools {
    display: inline-flex;
    flex-direction: column;
}

.tools li {
    margin: 2vh 5vh;
    list-style-type: none;
}

u {
    color: lightseagreen;
}

footer {
    position: fixed;
    text-align: center;
    background-color: gray;
    color: white;
    width: 100%;
    bottom: 0;
    margin:0;
    font-family:'Courier New', Courier, monospace;
}


@media (max-width: 900px) {

    body {
        overflow-y: none;
    }


    .boxClock {
        width: 300px;
        height: 100%;
        border-radius: 7px;
        font-size: larger;
        color: rgb(87, 86, 86);
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .time {
        font-size: 40px;
    }

    .boxDisplayCounter {
        margin: 20px;
        height: 100%;
        width: 100%;
        overflow: scroll;
    }

}






